body{
  background-image: url("../../../assets/oficialnumber.jpg");
  background-size: cover; /* Asegura que la imagen cubra todo el fondo sin repetirse */
  background-position: center; /* Centra la imagen en el fondo */
  background-repeat: no-repeat;
}

.contenido{
  display:flex;
  flex-direction: column;
}
.entradas{
  margin-top:4%;
  padding: 0 2%;
  display: flex;
  flex-direction: row;
}

.semilla{
  display: flex;
  flex-direction: row;
  gap:6%;
  margin-right: 1%;

}
.numeros{
  display: flex;
  flex-direction: row;
  gap:6%;
  width: 30%;
}

.a{
  display: flex;
  flex-direction: row;
  gap:6%;

}
.K{
  display: flex;
  flex-direction: row;
  gap:6%;
  margin-right: 1%;
}
.digitos{
  display: flex;
  flex-direction: row;
  gap:6%;
  width: 30%;
}
.botones{
  display:flex;
  flex-direction: row;
  margin-left: auto;
  gap: 10%;
  padding: 1% 5%;
}
.mensaje{
  margin-left: 2%;
}
.subtitulo{
  font-size:16px;
  color: white;
}
.operaciones{
  display:flex;
  flex-direction: row;
  margin-left: 2%;
}
.mensaje-texto{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px;
  display: inline-block;
  font-size:18px;
  color: white;
}
.tabla{
  padding: 0 2%;
}

.example-container {
  position: relative;
}

.example-table-container {
  background-color: white;
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  width: 64px;
}

.mat-column-created {
  width: 124px;
}
