<body>

<div class="contenido">
  <div class="entradas">
    <div class="semilla">
      <h2 class="subtitulo">Semilla 1:</h2>
      <mat-form-field class="example-form-field">
        <mat-label>x<sub>0</sub></mat-label>
        <input matInput type="number" [(ngModel)]="value" (input)="validateNonNegative($event,'value')">
        @if (value) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="vaciarX()">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>


    </div>
    <div class="semilla">
      <h2 class="subtitulo">Semilla 2:</h2>
      <mat-form-field class="example-form-field">
        <mat-label>x<sub>1</sub></mat-label>
        <input matInput type="number" [(ngModel)]="value2" (input)="validateNonNegative($event,'value2')">
        @if (value2) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="vaciarX1()">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>


    </div>
    <div class="numeros">
      <h2 class="subtitulo">Cantidad a Generar:</h2>
      <mat-form-field class="example-form-field">
        <mat-label>n</mat-label>
        <input matInput type="number" [(ngModel)]="value3" (input)="validateNonNegative($event,'value3')">
        @if (value3) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="vaciarN()">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>

    </div>

      <button mat-flat-button style="background-color: #FF8F00; color: black" (click)="generarNumerosAleatorios()">Generar</button>
      <button mat-flat-button style="background-color: #FFDB00; color: black; margin-left: 2%" (click)="vaciarTodo()">Limpiar</button>


  </div>
  <div class="mensaje">
    <h2 class="mensaje-texto">{{mensaje}}</h2>
  </div>
  <div class="tabla">
    <div class="example-container mat-elevation-z8">
      <div class="example-table-container">

        <table mat-table [dataSource]="data" class="example-table"
               matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
          <!-- Position Column -->
          <ng-container matColumnDef="i">
            <th mat-header-cell *matHeaderCellDef> i </th>
            <td mat-cell *matCellDef="let element"> {{element.i}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Xi1">
            <th mat-header-cell *matHeaderCellDef> Xi-1 </th>
            <td mat-cell *matCellDef="let element"> {{element.Xi1}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Xi">
            <th mat-header-cell *matHeaderCellDef> Xi </th>
            <td mat-cell *matCellDef="let element"> {{element.Xi}} </td>
          </ng-container>

          <ng-container matColumnDef="Operacion">
            <th mat-header-cell *matHeaderCellDef> Operacion </th>
            <td mat-cell *matCellDef="let element"> {{element.Xi1}}*{{element.Xi}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Yi">
            <th mat-header-cell *matHeaderCellDef> Yi </th>
            <td mat-cell *matCellDef="let element"> {{element.Yi}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="Xi11">
            <th mat-header-cell *matHeaderCellDef> Xi+1 </th>
            <td mat-cell *matCellDef="let element"> {{element.Xi11}} </td>
          </ng-container>


          <!-- Symbol Column -->
          <ng-container matColumnDef="ri">
            <th mat-header-cell *matHeaderCellDef> ri </th>
            <td mat-cell *matCellDef="let element"> {{element.ri}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

      <mat-paginator [length]="resultsLength" [pageSize]="50" aria-label="Select page of GitHub search results"></mat-paginator>
    </div>
  </div>


</div>
</body>
